<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Exercises</title>

<style>
th, td {
    text-align: left;
}

#logout{position: absolute; top: 10px; right: 10px; }
</style>

</head>

<body>
 <div id="logout">
 	<a href="/logout">Log Out</a>
 </div>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<h1><%= current_user.username %></h1><br>

<table style="width:100%">
	<tr>
		<th>Exercise</th>
		<th>Reps</th>
		<th>Weight</th>
	</tr>
<% current_user.exercises.each do |exercise| %>
	<tr>
		<td><a href="/exercise/<%= exercise.id%>"><%=exercise.name%></a></td>
		<td><%=exercise.reps%></td>
		<td><%=exercise.weight%></td>
	</tr>
	<% end %>

</table>
<a href="/exercise/new">Add Exercise</a>
	
</body>
</html>


